.box1 {
  background-color: #1de592;
  width: 400px;
  margin: 100px auto;
  padding: 100px 50px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  font-weight: bold;
}

.title {
  font-size: 45px;
}

.subtitle {
  font-size: 12px;
}

.box2 {
  width: 400px;
  margin: 40px auto;
  padding: 0px;
  border: 2px solid lightgray;
  border-radius: 14px;
  font-family: "Poppins", sans-serif;
}
.title2 {
  font-size: 30px;
  font-weight: 500;
}
.subtitle2 {
  font-size: 16px;
  color: gray;
}
.idea-btn {
  padding: 15px 40px;
  margin: 20px 0px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  font-weight: 700;
}
.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 90%;
  object-fit: cover;
  margin: 30px;
}
.card-profile {
  padding: 30px;
}
.action-bar {
  border-top: 2px solid lightgray;
  padding: 20px;
  width: 90%;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.txt-btn {
  color: #1c73e8;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.box3 {
  width: 400px;
  margin: 40px auto;
  border: 2px solid lightgray;
  border-radius: 14px;
  font-family: "Poppins", sans-serif;
}
.card-img {
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.card-subscribe {
  padding: 30px;
}
.lock-icon {
  width: 5%;
  fill: blue;
}
.title3 {
  color: gray;
  display: inline;
  font-size: 18px;
}
.subtitle3 {
  color: black;
  font-size: 22px;
  margin: 10px 0px;
}
.text3 {
  color: gray;
  font-size: 18px;
  margin-bottom: 10px;
}
.details-btn {
  color: #1c73e8;
  font-family: "Poppins", sans-serif;
  border: 1px solid gray;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}
.box4 {
  width: 300px;
  margin: 100px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 50px;
}
.amz-logo {
  width: 100%;
  margin: 10px auto;
}

.welcome-txt {
  font-size: 20px;
  font-family: "Poppins";
  text-align: center;
}

.input {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid lightgray;
  font-size: 16px;
  width: 100%;
}

.login-btn {
  background-color: black;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.signup {
  text-align: center;
  font-family: "Poppins";
  margin-top: 10px;
  font-size: 14px;
}

.forgot {
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  color: blue;
}
.terms {
  text-align: center;
  font-size: 8px;
  font-family: "Poppins";
  margin-top: 30px;
}
